#content {
    max-width: 50em; 
    border-radius: 2em;
}
html{
   background-color: pink;
   border-radius: 2em;
   font-family: comic sans ms, Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-align: center;
   font-size: 2em;
}

blockquote{
    transition:transform 0.3s; border-radius: 2em
}

blockquote:hover{
    transform:scale(1.1)
}
 .sup {
            background-image: url(https://wallpapercave.com/wp/wp7769083.jpg); 
            background-repeat: no-repeat; 
            background-size: cover; 
            
           
            background-position: center; 
            
       
            background-attachment: fixed; 

            border-radius: 2em
        }


stop {background-color: darkred;}