#content {
    max-width: 50em;
}
html{
   background-color: pink;
}

blockquote{
    transition:transform 0.3s;
}

blockquote:hover{
    transform:scale(1.1)
}
 .sup {
            background-image: url(https://wallpapercave.com/wp/wp7769083.jpg); 
            background-repeat: no-repeat; 
            background-size: cover; 
            
           
            background-position: center; 
            
       
            background-attachment: fixed; 
        }